*{
    margin: 0px 0px 0px 0px;
}

body{
   background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );;
   opacity: 1000%;
   background-repeat: no-repeat;
   background-blend-mode: soft-light;
}

#c1{
    width: 1518px;
    height: 120px;
    display: flex;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    position: relative;
    flex-wrap: wrap;
    border-radius: 0px 0px 30px 30px;
}
.f1{
    width: 475px;
    height: 100px;
    background-image: url(head.png);
    background-repeat: no-repeat;
    background-position: 95px;
    background-size: 28%;
    text-align:center;
    
    position:absolute;
    left: 20px;
    padding-top: 20px;
    flex-shrink: 2;
    flex-grow: 2;
}

.m1{
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content:left;
    position:absolute;
    right: 30px;
    align-content: space-around;
    
}

.f{
    width: 160px;
    height: 60px;
    text-align: right;
    font-family: 'Volkhov', serif;
    font-size: large;
    align-self: flex-end;
    font-size:x-large;
}

                         /* header ka the end */


#c2{
    width: 1500px;
    height: 100px;
   
    background-image: url(submian.png);
    background-repeat: no-repeat;
    background-position: 230px ;
    background-size: 11%;
    padding-top: 30px;
    text-align: center;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    
}





.c3{
    width: 1500px;
    height: 610px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    box-sizing: content-box;
    padding-right: 5px;
    padding-left: 5px;
}

      /* yha tkk 1st quote ho gya hai */

.s{
    width:  275px;
    height: 600px;
    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-between;
   padding-top: 10px;
   padding-bottom: 10px;
   box-sizing: border-box;
  
  
}    

.h2{
    width: 250px;
    height: 330px;
    border: 5px double brown;
    text-align: left;
    align-items: center;
    padding-left: 10px; 
    border-radius: 10px;   
}

.h3{
    width: 250px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    align-items: center; 
     
}

            /* drawings of t-5 starting */
.h11{
    width: 250px;
    height: 150px;
   
    background-image: url("finaltrans1.png");
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: center;   
    text-align: center;
    align-items: center;
    box-sizing: content-box;
    padding-top: 10px;
}

.h12{
    width: 250px;
    height: 150px;
    
    background-image: url("finaledu3.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-items: center;
    box-sizing: content-box;
    padding-top: 10px;
    
}


.h13{
    width: 250px;
    height: 150px;
   
    background-image: url("finalit.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-items: center;
    box-sizing: content-box;
    padding-top: 10px; 
   
}


.h14{
    width: 250px;
    height: 150px;
   
    background-image: url("finalaero1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    text-align: center;
    align-items: center;
    box-sizing: content-box;
    padding-top: 10px; 
    
}

.h15{
    width: 250px;
    height: 150px;
   
    background-image: url("finalhea.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-items: center;
    box-sizing: content-box;
    padding-top: 10px;   
    
}
                 /* drawings of t-5 ending */

  /* button starting */


.h31 button{
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    background-color: lightskyblue;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.h31 button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.h32 button{
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    background-color: lightskyblue;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.h32 button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.h33 button{
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    background-color: lightskyblue;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.h33 button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.h34 button{
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    background-color: lightskyblue;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.h34 button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.h35 button{
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    background-color: lightskyblue;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.h35 button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

     /* button ending */

#foot{
    width: 60px;
    height: 35px;
    border: 2px dotted brown;
    text-align: right;
   
}

                                       /* headings start */


h1{
    text-transform: capitalize;
    text-align: center;
    text-shadow: 4px;

}
h2{
    text-decoration-color: blueviolet;
}

h3{
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 3px 3px 3px #ababab;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 4px;
}
                                     /* headings end */

a:link {   
    color: #000;
    text-decoration: none;
    
   
}
a:visited {    
    color: #000;
}
a:hover {    
    color:white;
    border-bottom: none;
}

#text1{
    font-family: 'Volkhov', serif;
    color: black;
    font-weight: bolder;
    font-display:inherit;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size:large;
    
}
                 /* top 5 wala khtm */

#c4{
    width: 1500x;
    height: 410px;
    
    padding-left: 50px;
    display: flex;
    justify-content: space-around;

}
#c41{
    width: 350px;
    height: 400px;
  
    text-align: center;
    left: 30px;
}
 legend{ 
    width:fit-content;
    height: fit-content;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 20px;
    border: 5px double black;
    display: block;
    text-align: center;
}
textarea{
    display: block;
    width: 300px;
    height: 50px;
    border: 3px solid #000;
    text-align: left;
}

fieldset{
    border: 5px double black;
    text-align: left;
    padding-left: 10px;
}
#c42{
    width: 600px;
    height: 400px;
    background-image: url(nq.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 70%;
    padding-left: 200px;
    
}
#c4 button{
    text-align: center;
    text-decoration: none;
    
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

                           /* foot yha se shuru           */

.z{
    width: 1518px;
    height: 120px;
    border: 2px solid black;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    position: relative;
    flex-wrap: wrap;
    border-radius: 30px 30px 0px 0px;
    text-align: center;
    align-items: center;
    display: flex; 
    justify-content: space-between;
}

#d1{
    
    width: 400px;
    height: 80px;
    background-position: 95px;
    background-size: 30%;
    text-size-adjust: 30%;
    background-image: url(head.png);
    background-repeat: no-repeat;
    background-position: 75px;
    background-size: 30%;
    text-align: center;
    left: 20px;
}
.d{
    width: 500px;
    height: 90px;
    align-content: initial;
}